// Resource Plugin Styles

// colors
$blue:      #137abf;
$primary:   $blue;

// Contact Row
.contact-row{
  margin-top: 55px;
}

// filter headline
.filter-headline{
  display: inline-block;
  color: $primary;
}

// filter select menus/dropdowns
.filter-select{
  display: inline-block;
  border: 1px solid #ccc;
  width: 130px;
  max-width: 100%;
  height: 30px;
  color: $primary;
}

.filter-select + .filter-select{
  margin-left: 15px;
}

.filter-submit{
  display: inline-block;
  width: auto;
  height: 30px;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
}

.filter-clear{
  color: #ccc;
  text-decoration: none;
  &--active{
    color: $primary;
  }
}
