// Resource Plugin Styles

// colors
$blue:      #137abf;
$primary:   $blue;

// Contact Row
.contact-row{
  margin-top: 55px;
}

// filter row
.filter-row{
  margin-top: 40px;
}

// filter headline
.filter-headline{
  display: inline-block;
  color: $primary;
  margin-right: 15px;
  vertical-align: sub;
}

// filter select menus/dropdowns
.filter-select{
  display: inline-block;
  border: 1px solid #ccc;
  width: 130px;
  max-width: 100%;
  height: 28px;
  padding: 3px 10px 0;
  color: $primary;
  cursor: pointer;
  .filter-dropdown{
    display: none;
  }
}

.filter-select + .filter-select{
  margin-left: 15px;
}

.filter-submit{
  display: inline-block;
  width: auto;
  height: 28px;
  padding: 3px 10px 0;
  margin-left: 15px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.filter-clear{
  color: #ccc;
  text-decoration: none;
  margin-left: 15px;
  &--active{
    color: $primary;
  }
}

// Post Grid
#resource-posts.container{
  margin: 50px auto;
  img{
    border: 5px solid white;
    box-shadow: 0 0 10px 0px rgba(0,0,0,.3)
  }
}

img{
  max-width: 100%;
  height: auto;
}

// Resource title
.resource-title{
  color: $primary;
  margin: 0;
}

// Post Meta Data
.resource-post-date, .resource-category, .resource-topics{
  font-size: 14px;
}

.resource-topics{
  color: rgba($primary, 0.8);
}

// Excerpt Container
.resource-excerpt{
  margin-top: 20px;
}

// Buttons
.resource-button{
  display: inline-block;
  position: relative;
  margin-top: 30px;
  background: $primary;
  color: white;
  text-align: center;
  padding: 10px 10px 9px;
  opacity: 1;
  transition: opacity .3s ease;
  text-decoration: none;
  &:hover{
    opacity: 0.8;
    color: white;
  }
}
